  <% extend ('./layouts/layout') %>

  <div class="row my-4 justify-content-center">
    <div class="col-md-9">
      <% for (let prop in articles) { %>
      <div class="card mb-3">
        <div class="card-body">
          <a href="/post/<%= articles[prop].id %>">
            <h2 class="text-primary"> <%- articles[prop].title %></h2>
          </a>
          <div class="d-flex flex-row text-secondary small">
            <div class="p-2"><span class="fa fa-clock-o"></span>
              <%- moment(articles[prop].update_time * 1000).format('YYYY/MM/DD') %></div>
            <div class="p-2"><i class="fa fa-tag" aria-hidden="true"></i>
              <a href="#" class="text-info">
                <%= categories[articles[prop].category].name %>
              </a>
            </div>
          </div>
          <div>
            <%- striptags(articles[prop].content).slice(0, 150) %>...
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="d-none"><a href="https://www.hitwebcounter.com" target="_blank">
      <img src="https://hitwebcounter.com/counter/counter.php?page=7348752&style=0001&nbdigits=5&type=page&initCount=0"
        title="Web Counter" Alt="counter free" border="0">
    </a></div>

  <%- include('partials/pagination') %>